<div class="container-fluid h-100 d-flex justify-content-center"
  style="background-image:url(/images/my-account-background.jpg);background-repeat:no-repeat;background-size:cover;">
  <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-12 pt-4">
    <div class="mt-4 border rounded p-3 bg-light-bs">
      <div class="row">
        <div class="col-auto">
          <h3 class="pb-3 header-text">My Profile</h3>
        </div>
        <div class="col">
          <a href="/updateaccount"><i class="fas fa-edit text-info-bs" title="Edit your profile"></i></a>
        </div>
      </div>
      <div class="row pb-4">
        <div class="col-sm-2 col-3 pr-2">
          <h5>Address:</h5>
        </div>
        <div class="w-50 border rounded border-dark p-2 bg-white">
          {{user.address}}
          </br>
          {{user.city}}, {{user.state}}
          </br>
          {{user.country}}
        </div>
      </div>
      <div class="row pb-4">
        <div class="col-sm-2 col-3 pr-2">
          <h5>About Me: </h5>
        </div>
        <div class="w-50 border rounded border-dark p-2 bg-white">
          <div class="float-right">
            <i class="fas fa-edit text-info-bs" data-toggle="modal" data-target="#updateAboutMe"></i>
          </div>
          <div>
            {{user.aboutMe}}
          </div>
        </div>
      </div>
      <div class="row pb-4">
        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5 col-6 pb-2">
          <div class="card border-primary-bs h-100">
            <div class="card-body text-center">
              <h5 class="card-title">Books Shipped</h5>
              <p class="card-text">
              <h2 class="text-center">{{sentBooks}}</h2>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5 col-6 pb-2">
          <div class="card border-primary-bs h-100">
            <div class="card-body text-center">
              <h5 class="card-title">Books Received</h5>
              <p class="card-text">
              <h2 class="text-center">{{receivedBooks}}</h2>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5 col-6 pb-2">
          <div class="card border-primary-bs h-100">
            <div class="card-body text-center">
              <h5 class="card-title">Available Points</h5>
              <p class="card-text">
              <h2 class="text-center">{{user.points}}</h2>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5 col-6 pb-2">
          <div class="card border-primary-bs h-100">
            <div class="card-body text-center">
              <h5 class="card-title">Pending Points</h5>
              <p class="card-text">
              <h2 class="text-center">{{pendingPoints}}</h2>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- update form -->
  <div class="modal fade" id="updateAboutMe" tabindex="-1" role="dialog" aria-labelledby="modaltitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header bg-med-bs text-center">
          <h5 class="modal-title">Update About Me</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="modalBody">
          <div class="md-form">
            <textarea type="text" name="newAboutMe" id="newAboutMe" class="md-textarea form-control" rows="4"
              value="{{aboutMe}}"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary-bs" onclick="newupdateAboutMe()">Confirm Changes</button>
        </div>
      </div>
    </div>
  </div>



  <script src="/client/profile.js"></script>