<div class="container-fluid h-100 d-flex justify-content-center">
    <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-12 pt-4">
        <div class="row">
            <div class="col-auto pr-0">
                <h3 class="pb-3 header-text">{{title}}</h3>
            </div>
            <div class="col text-left">
                <a href="/faq" target="_blank"><i class="fas fa-info-circle text-info-bs"
                        title="Learn about our point system"></i></a>
                <br>
            </div>
        </div>
        <div class = "row">
                <div class = "col-auto pr-0">
                    <input type="text" id="myFilter" class="form-control" onkeyup="searchResults()" placeholder="Enter terms">
                </div>
        </div>
        <div class="row" id = "myItems">
            {{#each books}}
            <div id="{{id}}"
                class="card cards border rounded bg-light p-3 col-xl-2 col-lg-3 col-md-3 col-sm-4 col-5 mr-3 mb-3">
                <img src="{{imgUrl}}" class="card-img-top cover-art pb-1">
                <div class="card-body px-0 pt-1 pb-1 text-center">
                    <p class="card-text mb-0 card-title">{{title}}</p>
                    <p class="card-text mb-0 card-author">{{author}}</p>
                    <div class="card-genre" hidden>{{genre}}</div>
                    <div class="card-rating" hidden>{{rating}}</div>
                    <div class="card-pubdate" hidden>{{pubDate}}</div>
                </div>
                <button class="btn btn-small small btn-info-bs mb-1" onclick = "bookDetails('{{isbn}}', {{pointcost}})">View Details</button>
                <button class="btn btn-primary-bs btn-small small"
                    onclick="requestBook({{id}}, {{pointcost}}, `{{title}}`, {{userPoints}})">Request A Copy</button>
            </div>
            {{/each}}
        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="pageModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Request a Book</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">
                Are you sure you want this book?: <br><p id="requestTitle" class = "font-weight-bold"></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary-bs" id="confirmButton" onclick="">Confirm</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-med-bs text-center">
                <h5 class="modal-title" id="modalLabel">Book Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">
                <b>
                    <h8>Title</h8>
                </b><br>
                <p id="detailTitle"></p>
                <b>
                    <h8>Author</h8>
                </b><br>
                <p id="detailAuthor"></p>
                <b>
                    <h8>Genre</h8>
                </b><br>
                <p id="detailGenre"></p>
                <b>
                    <h8>Language</h8>
                </b><br>
                <p id="detailLanguage"></p>
                <b>
                    <h8>Point Cost</h8>
                </b><br>
                <p id="detailPointCost"></p>
                <b>
                    <h8>Rating</h8>
                </b><br>
                <p id="detailRating"></p>
                    <h8>Description</h8>
                </b><br>
                <p id="detailDescription"></p>
                {{isbn}}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="pointsModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-med-bs text-center">
                <h5 class="modal-title" id="modalLabel">Request a Book</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">
                <div id="question">
                    <div class="text-primary-bs-bold">How do I earn points?</div>
                    <div>
                        <ul>
                            <li>Post a book: +1 point</li>
                            <li>Book is shipping & received by buyer:
                                <ul>
                                    <li>Same country +2 points</li>
                                    <li>Out of country +4 points</li>
                                </ul>
                            </li>
                            <li>Book is shipped & NOT received by buyer:
                                <ul>
                                    <li>Same country +1 point</li>
                                    <li>Out of country +2 points</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Book Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">
                <b><h8>Title</h8></b><br>
                <p id = "detailTitle"></p>
                <b><h8>Author</h8></b><br>
                <p id = "detailAuthor"></p>
                <b><h8>Genre</h8></b><br>
                <p id = "detailGenre"></p>
                <b><h8>Language</h8></b><br>
                <p id = "detailLanguage"></p>
                <b><h8>Point Cost</h8></b><br>
                <p id = "detailPointCost"></p>
                <b><h8>Rating</h8></b><br>
                <p id = "detailRating"></p>
                <b><h8>Description</h8></b><br>
                <p id = "detailDescription"></p>
                
            </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="pointsModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Request a Book</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">
                <b>You do not have enough points.</b><br>
                    <ul>
                        <li>You earn 1 point when you post a book.</li>
                        <li>You earn points when you respond to a request and ship a book successfully.</li>
                            <ul>
                                <li>2 points are earned if sent to your current country.</li>
                                <li>4 points are earned if sent to another country.</li>  
                            </ul>     
                    </ul>
                <a href="/faq" class = "btn btn-info" role = "button">Learn more about the point system</a>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>



<script src="/client/search.js"></script>
